<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav>    
        <ul>
            <li><a href="/">Mini-ig</a></li>
            <div class="right-container">
                <li><a href="/viewProfile/{{ username }}">{{ username }}</a></li>
                <li><a href="/upload">Upload an image</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/logout">Logout</a></li>
            </div>
        </ul>
    </nav>
    <section>
    {% for image in data[::-1]%}
        <div class="post-container">
            <p class="post-name">{{ image["name"] }}</p>
            <p class="post-creator">By: <a href="/viewProfile/{{ image['user'] }}">{{ image["user"] }}</a></p>
            <img class="post-image" src="/{{ image['path'] }}" width="300" height="300">
        </div>
    {%endfor%}
    </section>
</body>
</html>