<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <nav>
        <div class="nav-title">
            <a href="/">Mini-ig</a>    
        </div>
        <ul>
            <li>
                <div class="list-item">Hello {{ username }}!</div>
            </li>
            <li>
                <div class="list-item"><a href="/upload">Upload an image</a></div>
            </li>
            <li>
                <div class="list-item"><a href="/logout">Logout</a></div>
            </li>
        </ul>
    </nav>
    {% for image in data[::-1]%}
        <p>{{ image["name"] }}</p>
        <img src="{{ image['path'] }}">
    {%endfor%}
</body>
</html>