<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
    <nav>    
        <ul>
            <li><a href="/">Mini-ig</a></li>
            <div class="right-container">
                <li><a href="/viewProfile/{{ username }}" id="username">{{ username }}</a></li>
                <li><a href="/upload">Upload an image</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/logout">Logout</a></li>
            </div>
        </ul>
    </nav>
    <section>
    {% for image in data[::-1]%}
        <div class="post-container">
            <p class="post-name">{{ image["name"] }}</p>
            <p class="post-creator">By: <a href="/viewProfile/{{ image['user'] }}">{{ image["user"] }}</a></p>
            <img class="post-image" src="/{{ image['path'] }}" width="300" height="300">
            <div class="icon-container">
                <button type="button" onclick="likePost('{{ image[id] }}', this)" class="like-btn">
                    {% if username in image.get("likes", []) %}
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    {% endif %}
                </button>
                <button type="button" onclick="addComment()" class="comment-btn"><i class="fa fa-comment-o" aria-hidden="true"></i></button>
            </div>
        </div>

    {%endfor%}
    </section>

    <script>
        function likePost(postId, element) {
        const username = document.getElementById('username').textContent.trim();

        $.ajax({
            url: "/likePost",
            type: "POST",
            data: {
                username: username,
                post_id: postId
            },
            success: function(response){
                const icon = element.querySelector('i');
                if(icon.classList.contains('fa-heart-o')){
                    icon.classList.remove('fa-heart-o');
                    icon.classList.add('fa-heart');
                } else {
                    icon.classList.remove('fa-heart');
                    icon.classList.add('fa-heart-o');
                }
            }
        });
    }

    </script>
</body>
</html>